.homepage {
  &__section {
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 15rem;

    &-header {
      width: 100%;
      background-image: url("../../../public/images/Error.png");
      background-size:cover;
      background-repeat: no-repeat;
      background-position-y: 50%;
      background-position: fixed;
    }
  }

  &__description {
    height: 100%;
    width: 100%;
    padding: 2rem 4rem;
    font-size: larger;
  }
}